<!-- Footer Section -->
<div class="container grid grid-cols-1 px-5 pb-10 mx-auto mt-36 gap-y-10 xl:grid-cols-4 gap-x-10">
  <div class="flex flex-col gap-y-5">
    <img src="./img/Logo of Code Studio 2.png" alt="" srcset="" class="w-fit" />
    <p>
      Code Studio is a leading software development company that creates
      custom Website and Mobile App. 
    </p>
    <div class="flex p-0 gap-x-5">
      <a href="https://www.facebook.com/codestudio4" target="_blank" class="p-2 px-3 duration-200 border rounded-full hover:shadow-lg hover:border-transparent">
        <i class="text-2xl rounded-full bi bi-facebook h-min"></i>
      </a>
      <a href="https://www.instagram.com/codestudio4/" target="_blank" class="p-2 px-3 duration-200 border rounded-full hover:shadow-lg hover:border-transparent">
        <i class="text-2xl rounded-full bi bi-instagram h-min"></i>
      </a>
      <a href="#" class="p-2 px-3 duration-200 border rounded-full hover:shadow-lg hover:border-transparent">
        <i class="text-2xl rounded-full bi bi-youtube h-min"></i>
      </a>
      <a href="https://www.linkedin.com/company/code-studio4/" target="_blank" class="p-2 px-3 duration-200 border rounded-full hover:shadow-lg hover:border-transparent">
        <i class="text-2xl rounded-full bi bi-linkedin h-min"></i>
      </a>
    </div>
  </div>
  <div class="flex xl:justify-center">
    <div class="flex flex-col gap-y-5">
      <h3 class="text-xl font-bold">Quick Link</h3>
      <ul class="flex flex-col gap-y-1">
        <li><a href="./index.html" class="hover:text-primary">Home</a></li>
        <li>
          <a href="./aboutUs.html" class="hover:text-primary">About Us</a>
        </li>
        <li>
          <a href="./portfolio.html" class="hover:text-primary">Our Work</a>
        </li>
        <li>
          <a href="./contactUs.html" class="hover:text-primary">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col gap-y-5">
    <h3 class="text-xl font-bold">Bangladesh Office</h3>
    <div class="flex flex-col font-semibold gap-y-3">
      
      <p class="flex items-center gap-x-4">
        <i class="bi bi-headset"></i>
        +880 1784286885
      </p>

      <p class="flex items-center gap-x-4">
        <i class="bi bi-envelope-open-fill"></i>
        contact@code-studio4.com
      </p>
      <p class="flex items-center w-3/4 gap-x-4">
        <i class="bi bi-geo-alt-fill"></i>
        Baliapukur, kajla, Rajshahi Bangladesh
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-y-5">
    <h3 class="text-xl font-bold">United Kingdom Office</h3>
    <div class="flex flex-col font-semibold gap-y-3">
      
      <p class="flex items-center gap-x-4">
        <i class="bi bi-headset"></i>
        +44 7392 026369
      </p>

      <p class="flex items-center gap-x-4">
        <i class="bi bi-envelope-open-fill"></i>
        contact@code-studio4.com
      </p>

      <p class="flex items-center w-3/4 gap-x-4">
        <i class="bi bi-geo-alt-fill"></i>
        Luton, United Kingdom
      </p>
    </div>
  </div>
</div>

</body>

</html>