<%- include('partials/header') -%>
<!-- Banner Section -->
<div class="flex items-center justify-center h-48 bg-primary">
	<h1 class="text-4xl font-bold text-white">ABOUT US</h1>
</div>

<!-- Hero Section -->
<div
	class="container grid p-5 mx-auto mt-24 lg:grid-cols-2 xl:p-0 gap-x-16 gap-y-10"
>
	<div class="">
		<img
			src="./img/home01.jpg"
			class="h-full"
			style="object-fit: cover"
			alt=""
		/>
	</div>
	<div class="flex flex-col justify-between text-center gap-y-10 xl:text-left">
		<div class="flex flex-col gap-y-10 xl:gap-y-5">
			<h2 class="text-3xl font-bold">About Us</h2>
			<p class="text-justify">
				Dummy text is text that is used in the publishing industry or by web
				designers to occupy the space which will later be filled with 'real'
				content. This is required when, for example, the final text is not yet
				available. Dummy texts have been in use by typesetters since the 16th
				century.Dummy text is text that is used in the publishing industry or by
				web designers to occupy the space which will later be filled with 'real'
				content. This is required when, for example, the final text is not yet
				available. Dummy texts have been in use by typesetters since the 16th
				century.
			</p>
		</div>
		<div
			class="flex flex-col items-center p-5 border xl:flex-row xl:w-3/4 rounded-xl gap-x-5"
		>
			<div class="p-3 bg-base-200">
				<img src="./img/customer-care.png" />
			</div>
			<div class="flex flex-col gap-y-1">
				<h3 class="text-xl font-extrabold">Get Instant Professional Advice</h3>
				<p class="flex gap-x-2">
					<span class="font-semibold">Ready to Help :</span>
					<span class="font-extrabold text-red-600">+880 1784286885</span>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Mission & Vision Section -->
<div
	class="container flex flex-col p-5 mx-auto mt-20 gap-y-10 xl:p-0 xl:flex-row gap-x-24"
>
	<div
		class="flex flex-col items-center justify-center p-5 py-10 box border-primary gap-y-10 xl:flex-row xl:w-1/2 gap-x-10"
	>
		<h1 class="relative text-2xl font-bold text-accent xl:w-[30%]">
			Our Mission
			<span
				class="absolute w-1/2 xl:translate-x-[10%] translate-x-[50%] border-4 border-b-0 right-1/2 border-accent"
				style="bottom: -40%"
			></span>
		</h1>
		<ul class="flex flex-col gap-y-4">
			<li class="flex gap-x-5">
				<i class="bi bi-check-square-fill text-accent"></i>
				<p class="font-bold">Technology dedicated to our customers’ need</p>
			</li>
			<li class="flex gap-x-5">
				<i class="bi bi-check-square-fill text-accent"></i>
				<p class="font-bold">Technology dedicated to our customers’ need</p>
			</li>
			<li class="flex gap-x-5">
				<i class="bi bi-check-square-fill text-accent"></i>
				<p class="font-bold">Technology dedicated to our customers’ need</p>
			</li>
		</ul>
	</div>

	<div
		class="flex flex-col items-center justify-center p-5 py-10 border-primary gap-y-10 xl:flex-row xl:w-1/2 box gap-x-10"
	>
		<h1 class="relative text-2xl font-bold text-primary xl:w-[30%]">
			Our Vision
			<span
				class="absolute w-1/2 translate-x-[50%] xl:translate-x-[10%] border-4 border-b-0 right-1/2 border-primary"
				style="bottom: -40%"
			></span>
		</h1>
		<ul class="flex flex-col gap-y-4">
			<li class="flex gap-x-5">
				<i class="bi bi-check-square-fill text-primary"></i>
				<p class="font-bold">Technology dedicated to our customers’ need</p>
			</li>
			<li class="flex gap-x-5">
				<i class="bi bi-check-square-fill text-primary"></i>
				<p class="font-bold">Technology dedicated to our customers’ need</p>
			</li>
			<li class="flex gap-x-5">
				<i class="bi bi-check-square-fill text-primary"></i>
				<p class="font-bold">Technology dedicated to our customers’ need</p>
			</li>
		</ul>
	</div>
</div>

<!-- Why choosing us section -->
<div class="container flex flex-col p-5 mx-auto mt-24 xl:p-0">
	<div class="flex flex-col items-center gap-y-10">
		<div class="flex flex-col items-center gap-y-4">
			<h3 class="text-3xl font-bold">Why Choosing Us</h3>
			<p class="w-3/4 text-center">
				Code Studio is one of the best software companies in the world that
				builds Mobile and Web Applications to grow business successfully.
			</p>
		</div>
		<div class="flex flex-col w-full xl:flex-row gap-x-5 gap-y-10">
			<div
				class="flex flex-col xl:w-1/4 p-10 duration-150 border rounded-lg hover:border-accent gap-y-4 shadow-[0_4px_4px_rgba(0,0,0,0.03)] hover:shadow-[4px_2px_10px_2px_rgba(247,248,237,0.2)]"
			>
				<i class="text-5xl bi bi-person-workspace text-primary"></i>
				<h3 class="text-2xl font-bold">Professionalism</h3>
				<p class="font-semibold">
					Thus, Lorem Ipsum has only limited suitability as a visual filler for
					German texts.
				</p>
				<a href="" class="text-accent">more info</a>
			</div>
			<div
				class="flex shadow-[0_4px_4px_rgba(0,0,0,0.03)] hover:shadow-[4px_2px_10px_2px_rgba(247,248,237,0.2)] flex-col xl:w-1/4 p-10 duration-150 border rounded-lg hover:border-accent gap-y-4"
			>
				<i class="text-5xl bi bi-graph-up text-primary"></i>
				<h3 class="text-2xl font-bold">Smooth Workflow</h3>
				<p class="font-semibold">
					Thus, Lorem Ipsum has only limited suitability as a visual filler for
					German texts.
				</p>
				<a href="" class="text-accent">more info</a>
			</div>
			<div
				class="flex shadow-[0_4px_4px_rgba(0,0,0,0.03)] hover:shadow-[4px_2px_10px_2px_rgba(247,248,237,0.2)] flex-col xl:w-1/4 p-10 duration-150 border rounded-lg hover:border-accent gap-y-4"
			>
				<i class="text-5xl bi bi-bar-chart-steps text-primary"></i>
				<h3 class="text-2xl font-bold">Trusted Platform</h3>
				<p class="font-semibold">
					Thus, Lorem Ipsum has only limited suitability as a visual filler for
					German texts.
				</p>
				<a href="" class="text-accent">more info</a>
			</div>
			<div
				class="flex shadow-[0_4px_4px_rgba(0,0,0,0.03)] hover:shadow-[4px_2px_10px_2px_rgba(247,248,237,0.2)] flex-col xl:w-1/4 p-10 duration-150 border rounded-lg hover:border-accent gap-y-4"
			>
				<i class="text-5xl bi bi-bookmark-check text-primary"></i>
				<h3 class="text-2xl font-bold">Qualified Employee</h3>
				<p class="font-semibold">
					Thus, Lorem Ipsum has only limited suitability as a visual filler for
					German texts.
				</p>
				<a href="" class="text-accent">more info</a>
			</div>
		</div>
	</div>
</div>

<!-- Continuous improvement section -->
<div
	style="
		background: linear-gradient(
			180deg,
			#185abc 0%,
			rgba(62, 139, 255, 0.78) 100%
		);
	"
>
	<div
		class="container flex flex-col px-5 py-20 mx-auto mt-24 gap-y-10 xl:px-0 xl:flex-row gap-x-20"
	>
		<div class="flex flex-col text-white xl:w-1/2 gap-y-4">
			<h2 class="text-3xl font-bold text-center xl:text-left">
				Continuous improvement
			</h2>
			<h3 class="text-xl font-bold text-center xl:text-left">
				Our designs solve problems
			</h3>
			<p class="text-justify xl:text-left">
				Dummy text is text that is used in the publishing industry or by web
				designers to occupy the space which will later be filled with 'real'
				content. This is required when, for example, the final text is not yet
				available. Dummy texts have been in use by typesetters since the 16th
				century.Dummy text is text that is used in the publishing industry or by
				web designers to occupy the space which will later be filled with 'real'
				content. This is required when, for example, the final text is not yet
				available. Dummy texts have been in use by typesetters since the 16th
				century. Dummy text is text that is used in the publishing industry or
				by web designers to occupy the space which will later be filled with
				'real' content. This is required when, for example, the final text is
				not yet available. Dummy texts have been in use by typesetters since the
				16th century.Dummy text is text tha
			</p>
		</div>
		<div class="xl:w-1/2">
			<iframe
				src="https://www.youtube.com/embed/aB8Wa_SkX1M"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
				class="w-full h-96"
			></iframe>
		</div>
	</div>
</div>

<!-- Our sectors section -->
<div class="container flex flex-col mx-auto mt-24 gap-y-10">
	<div class="flex flex-col items-center self-center xl:w-1/2 gap-y-4">
		<h3 class="text-3xl font-bold">Our Sectors</h3>
		<p class="font-semibold text-center">
			Code Studio is one of the best software companies in the world that builds
			Mobile and Web Applications to grow business successfully.
		</p>
	</div>
	<div class="grid gap-5 p-5 xl:grid-cols-4 xl:p-0">
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-cart-check-fill text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">E Commerce</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-gear-wide-connected text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">Machine Learning</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-egg-fried text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">Agriculture</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-clipboard-plus-fill text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">Medical</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-cash-coin text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">Organization</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-book-half text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">Education</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-align-start text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">Startup</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-5 sector-part duration-200 hover:shadow-[0_4px_4px_rgba(0,0,0,0.15)]"
		>
			<div
				class="self-start p-3 rounded-lg"
				style="box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25)"
			>
				<i class="text-4xl bi bi-info-circle text-primary"></i>
			</div>
			<h3 class="text-2xl font-bold">IOT</h3>
			<div class="flex gap-x-3">
				<span class="w-1/5 h-2 border rounded-lg bg-primary"></span>
				<span class="w-1/12 h-2 border rounded-lg bg-primary"></span>
			</div>
			<p class="font-medium">
				It is a long established fact that a reader will be distra by the
				readable content of a page when looking at its layout, when looking at
				its layout
			</p>
		</div>
	</div>
</div>

<!-- Proud of happy client section -->
<div
	class="container flex flex-col items-center p-5 mx-auto mt-24 gap-y-28 xl:p-0"
>
	<div class="flex flex-col items-center xl:w-1/2 gap-y-5">
		<h2 class="text-2xl font-bold">Proud Of Happy Client</h2>
		<p class="font-medium text-center">
			Code Studio is one of the best software companies in the world that builds
			Mobile and Web Applications to grow business successfully.
		</p>
	</div>
	<div class="">
		<img src="./img/client.png" alt="" srcset="" />
	</div>
</div>
<%- include('partials/footer') -%>
