<%- include('partials/header') -%>
<!-- Banner Section -->
<div class="flex items-center justify-center h-48 bg-primary">
	<h1 class="text-4xl font-bold text-white">Gallery</h1>
</div>

<!-- Hero section -->
<div
	class="container flex flex-col items-center p-5 mx-auto mt-10 lg:mt-28 xl:p-0"
>
	<div class="flex flex-col items-center text-center xl:w-1/2 gap-y-3">
		<h3 class="text-3xl font-bold">Our Photo Gallery</h3>
		<p class="">
			Code Studio is one of the best software companies in the world that builds
			Mobile and Web Applications to grow business successfully.
		</p>
	</div>
	<!-- slider section -->
	<!-- <div class="w-full relative h-[30vh] lg:h-[60vh] overflow-x-hidden mt-10 lg:mt-20">
      <div class="w-full h-full overflow-x-hidden lg:px-0 slide-container">
        <div class="items-center justify-center h-full slide">
          <img src="./img/slider-1.png" style="object-fit: cover" class="h-fit" alt="" />
        </div>
        <div class="items-center justify-center slide">
          <img src="./img/slider-1.png" style="object-fit: cover" class="w-fit" alt="" />
        </div>
        <div class="items-center justify-center slide">
          <img src="./img/slider-1.png" style="object-fit: cover" class="w-fit" alt="" />
        </div>
        <div class="items-center justify-center slide">
          <img src="./img/slider-1.png" style="object-fit: cover" class="w-fit" alt="" />
        </div>
        <div class="items-center justify-center slide">
          <img src="./img/slider-1.png" style="object-fit: cover" class="w-fit" alt="" />
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-5 lg:mt-10 gap-x-4 slide-indicator-container"></div>
  </div> -->

	<!-- gallery section -->
	<!-- <div class="container grid px-5 mx-auto gap-y-5 lg:grid-cols-4 lg:gap-x-20 lg:gap-y-1 mt-28 lg:px-0">
    <div class="relative gallery">
      <img src="./img/gallery-1.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-2.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-3.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-4.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-5.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-6.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-7.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-8.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-9.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-10.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-11.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative gallery">
      <img src="./img/gallery-12.png" alt="" />
      <div class="absolute bottom-0 flex w-full h-full duration-150 opacity-0 gallery-image-details" style="
    						background: linear-gradient(
    							to top,
    							rgba(0, 0, 0, 0.5),
    							transparent
    						);
    					">
        <div class="flex self-end py-3 text-white gap-x-4">
          <img src="./img/smal-map.png" alt="" />
          <div class="flex flex-col gap-y-1">
            <p class="text-xl font-bold">Dakhla</p>
            <p>Marocco, Africa</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

	<!-- Lets collaborate section -->
	<!-- <div class="container flex flex-col px-5 mx-auto mt-36 lg:px-0 gap-y-10"> -->
	<!-- <div class="flex justify-between">
      <div class="flex flex-col">
        <h2 class="text-4xl font-extrabold">Let's Collaborate</h2>
        <p class="text-[#777]">
          Lorem Ipsum is simply dummy text of the printing .
        </p>
      </div>
      <!-- <div class="flex self-center gap-x-3">
    					<button
    						class="border rounded-full px-2 py-1 z-[100] bg-primary text-white hover:bg-accent duration-150"
    						id="prev"
    					>
    						<i class="text-2xl bi bi-chevron-left"></i>
    					</button>
    					<button
    						class="z-[100] border rounded-full px-2 py-1 bg-primary text-white hover:bg-accent duration-150"
    						id="next"
    					>
    						<i class="text-2xl bi bi-chevron-right"></i>
    					</button>
    				</div> -->
	<!-- </div> -->
	<!-- slider section -->
	<div class="flex flex-col mt-10 gap-y-10">
		<div
			class="flex rounded-none gap-x-5 carousel carousel-container"
			style="overflow-x: auto"
		>
			<div class="carousel-item">
				<img src="./img/colab-1.png" alt="Burger" />
			</div>
			<div class="carousel-item">
				<img src="./img/colab-2.png" alt="Burger" />
			</div>
			<div class="carousel-item">
				<img src="./img/colab-3.png" alt="Burger" />
			</div>
		</div>

		<!-- <p class="font-bold">Let's Collaborate</p>
      <div class="flex rounded-none gap-x-5 carousel carousel-container" style="overflow-x: auto">
        <div class="carousel-item">
          <img src="./img/colab-4.png" alt="Burger" />
        </div>
        <div class="carousel-item">
          <img src="./img/colab-5.png" alt="Burger" />
        </div>
        <div class="carousel-item">
          <img src="./img/colab-6.png" alt="Burger" />
        </div>
        <div class="carousel-item">
          <img src="./img/colab-7.png" alt="Burger" />
        </div>
        <div class="carousel-item">
          <img src="./img/colab-8.png" alt="Burger" />
        </div>
      </div> -->
	</div>

	<!-- <a href="" class="self-center mt-10 normal-case text-primary btn btn-ghost">View More</a>
  </div> -->
	<%- include('partials/footer') -%>
</div>
