<%- include('partials/header') -%>

<!-- Hero Section -->
<div class="relative">
	<div
		class="relative flex min-h-screen lg:min-h-[77vh] hero grow"
		style="background-image: url('./img/hero-bg.png')"
	>
		<div class="w-full text-base-100">
			<div class="relative w-full py-5 xl:mb-10">
				<div
					class="absolute w-full h-full lg:w-3/4 xl:w-2/3 2xl:w-1/2 rounded-e-lg"
					style="
						background-color: rgba(255, 255, 255, 0.1);
						content: '';
						left: 0;
						top: 0;
					"
				></div>
				<div class="container p-10 mx-auto xl:p-0">
					<h1 class="text-5xl font-semibold">We Make Mobile App & Website</h1>
				</div>
			</div>
			<div class="container mx-auto">
				<p class="w-full p-10 text-xl xl:mb-10 xl:p-0 md:w-1/2 lg:w-1/2">
					Code Studio is one of the best software companies in the world that
					builds Mobile and Web Applications to grow business successfully.
				</p>
				<div class="flex flex-col p-10 xl:flex-row gap-x-3 xl:p-0 gap-y-10">
					<a class="text-lg font-normal text-white btn btn-primary"
						>Learn More</a
					>
					<a
						href="#video"
						style="scroll-behavior: smooth"
						class="flex px-3 text-lg font-normal text-white bg-transparent border border-white rounded-lg cursor-pointer btn place-items-center gap-x-2 hover:bg-transparent"
					>
						<i class="bi bi-play-circle-fill"></i>Play Video</a
					>
				</div>
			</div>
		</div>
	</div>
	<!-- Location -->
	<!-- flex flex-col items-center justify-around -->
	<div
		class="bottom-0 left-1/2 lg:translate-x-[-50%] grid lg:grid-cols-2 w-full p-5 px-10 mt-10 xl:absolute lg:gap-y-0 lg:flex-row lg:px-20 lg:translate-y-[40%] gap-x-10"
	>
		<!-- Bangladesh Location Card -->
		<!-- <div class="py-10 mb-5 duration-150 shadow-sm rounded-xl bg-base-100 xl:mb-0">
              <div class="flex flex-wrap items-center h-full gap-4 px-6 justify-evenly">
                <div class="items-center avatar">
                  <div class="w-8 mr-2 rounded-full">
                    <img src="./img/bangladesh-logo.png" />
                  </div>
                  <h2 class="text-2xl font-bold card-title text-primary">
                    Bangladesh
                  </h2>
                </div>
                <div class="flex flex-col gap-5 xl:flex-row">
                  <div class="relative flex px-5 py-4 font-bold border rounded-lg text-primary"
                    style="border-color: rgba(0, 0, 0, 0.2)">
                    <span class="absolute px-1 font-normal text-primary bg-base-100" style="top: -20%; left: 5%">Location</span>
                    <div class="flex text-2xl">
                      <i class="mr-2 bi bi-geo-alt"></i>
                      <p>Rajshahi</p>
                    </div>
                  </div>
                  <div class="relative flex px-5 py-4 font-bold border rounded-lg text-primary"
                    style="border-color: rgba(0, 0, 0, 0.2)">
                    <span class="absolute px-1 font-normal text-primary bg-base-100" style="top: -20%; left: 5%">Phone</span>
                    <div class="flex text-2xl">
                      <i class="mr-2 bi bi-telephone"></i>
                      <p>+8801784286885</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

		<!-- UK location Card -->
		<!-- <div class="py-10 mb-5 duration-150 shadow-sm bg-base-100 xl:mb-0 rounded-xl">
              <div class="flex flex-wrap items-center h-full gap-3 px-6 justify-evenly">
                <div class="items-center avatar">
                  <div class="w-8 mr-2 rounded-full">
                    <img src="./img/uk-logo.png" />
                  </div>
                  <h2 class="text-2xl font-bold card-title text-primary">
                    United Kingdom
                  </h2>
                </div>
                <div class="flex flex-col gap-5 xl:flex-row">
                  <div class="relative flex px-5 py-4 font-bold border rounded-lg text-accent"
                    style="border-color: rgba(0, 0, 0, 0.2)">
                    <span class="absolute px-1 font-normal text-accent bg-base-100" style="top: -20%; left: 5%">Location</span>
                    <div class="flex text-2xl">
                      <i class="mr-2 bi bi-geo-alt"></i>
                      <p>Lotion</p>
                    </div>
                  </div>
                  <div class="relative flex px-5 py-4 font-bold border rounded-lg text-accent"
                    style="border-color: rgba(0, 0, 0, 0.2)">
                    <span class="absolute px-1 font-normal text-accent bg-base-100" style="top: -20%; left: 5%">Phone</span>
                    <div class="flex text-2xl">
                      <i class="mr-2 bi bi-telephone"></i>
                      <p>+8801784286885</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
	</div>
</div>

<!-- Who We Are Section -->
<div class="container mx-auto mb-20 xl:mb-32 xl:mt-20">
	<div
		class="grid items-center w-full gap-y-10 lg:grid-cols-2 bg-base-100 gap-x-16"
	>
		<div class="h-full px-5 lg:px-0">
			<img
				src="./img/h1.jpg"
				alt="Album"
				class="h-full"
				style="object-fit: cover"
			/>
		</div>
		<div class="flex flex-col px-5 gap-y-9">
			<h2 class="text-3xl font-bold text-center xl:text-left">
				Our Works & Journey
			</h2>
			<p>
				We started our journey in January, 2019. From then, we are working on
				Mobile App & Website Development. <br />
				<br />

				Most of our works are related to Startup. We help Entrepreneur, Dreamer
				to implement their imagination in real world. <br />
				<br />

				We are expert in Mobile App Development, Website Development, UI UX
				Design, Machine Learning, Digital Marketing, IT Support. <br />
				<br />

				Feel free to call Us or Send a Whatsapp Message to discuss about your
				Idea/Business.<br />
				<br />

				Whatsapp Number: +880 1784 286885 <br />
				<br />
			</p>
			<div class="flex flex-col">
				<div class="flex flex-col xl:border-b xl:flex-row">
					<div class="flex items-center p-3 xl:border-r xl:w-1/2 gap-x-5">
						<img src="./img/rocket.png" alt="" />
						<div class="flex flex-col gap-y-2">
							<h1 class="text-xl font-bold">Fast Delivery</h1>
							<p class="font-xs text-slate-500">
								We ensure delivery as soon as possible.
							</p>
						</div>
					</div>
					<div class="flex items-center p-3 xl:w-1/2 gap-x-5">
						<img src="./img/lightning.png" alt="" />
						<div class="flex flex-col gap-y-2">
							<h1 class="text-xl font-bold">Best Services</h1>
							<p class="font-xs text-slate-500">
								Our try to provide client the best.
							</p>
						</div>
					</div>
				</div>
				<div class="flex flex-col xl:flex-row">
					<div class="flex items-center p-3 xl:border-r xl:w-1/2 gap-x-5">
						<img src="./img/coin.png" alt="" />
						<div class="flex flex-col gap-y-2">
							<h1 class="text-xl font-bold">Cheaper</h1>
							<p class="font-xs text-slate-500">We work in affordable price.</p>
						</div>
					</div>
					<div class="flex items-center p-3 xl:w-1/2 gap-x-5">
						<img src="./img/alarm.png" alt="" />
						<div class="flex flex-col gap-y-2">
							<h1 class="text-xl font-bold">24/7 Support</h1>
							<p class="font-xs text-slate-500">You can knock us any time.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Services Section -->
<div class="container flex flex-col mx-auto mb-10 xl:mb-40 xl:gap-y-14 gap-y-5">
	<div class="flex flex-col items-center text-center gap-y-5">
		<h1 class="text-3xl font-bold text-center">Our Services</h1>
		<p class="w-1/2 text-center">We ensure the delivery of quality services.</p>
	</div>
	<div class="grid px-5 lg:grid-cols-3 gap-x-14 gap-y-5 lg:px-0">
		<div class="flex flex-col items-center p-10 gap-y-5 box">
			<img src="./img/pen.png" />
			<h1 class="font-bold">UI & UX Design</h1>
			<p class="text-center">
				Our designers create visually appealing and user-friendly interfaces
				that enhance customer engagement and satisfactions.
			</p>
		</div>
		<div class="flex flex-col items-center p-10 gap-y-5 box">
			<img src="./img/pc.png" />
			<h1 class="font-bold">Web Development</h1>
			<p class="text-center">
				Our skilled developers create customized websites that are responsive,
				secure, and optimized for search engines.
			</p>
		</div>
		<div class="flex flex-col items-center p-10 gap-y-5 box">
			<img src="./img/phone.png" />
			<h1 class="font-bold">Mobile Development</h1>
			<p class="text-center">
				We design and develop optimized mobile apps for iOS and Android that
				deliver exceptional user experiences.
			</p>
		</div>
	</div>
</div>

<!-- Fetured In section -->
<div class="mb-28 xl:mb-40 bg-primary">
	<div
		class="container flex flex-col items-center py-10 mx-auto xl:flex-row gap-y-10"
	>
		<div class="flex flex-col mr-10 text-white">
			<p>We are</p>
			<h1 class="text-4xl font-bold xl:text-2xl">Featured In</h1>
		</div>
		<div
			class="grid justify-between flex-grow grid-cols-2 gap-10 xl:flex gap-y-7 xl:flex-row"
			style="overflow: hidden"
		>
			<img src="./img/prothomalo.png" />
			<img src="./img/radioruet.png" />
			<img src="./img/ruetaaa.png" />
			<img src="./img/isr.png" />
			<img src="./img/ruetcsefest.png" />
			<img src="./img/eeegreen.png" />
		</div>
	</div>
</div>

<!-- Video Section -->
<div
	class="container flex items-center px-5 mx-auto mb-10 xl:mb-32 lg:px-0"
	id="video"
>
	<iframe
		class="xl:w-[70%] w-full h-96 xl:translate-x-[20%]"
		src="https://www.youtube.com/embed/8JEwmD1SYjo"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen
	></iframe>
</div>

<!-- Process We follow Section  -->
<div class="container flex flex-col mx-auto mb-20 xl:gap-y-14">
	<div
		class="flex flex-col items-center justify-center px-10 text-center gap-y-5"
	>
		<h1 class="text-3xl font-bold">How can you talk with us</h1>
		<p class="xl:w-1/2">
			Don't Hesitate to talk with us for any query of you. We are waiting for
			talking with you. Contact us now.
		</p>
	</div>
	<div
		class="grid flex-col justify-between p-5 gap-y-10 xl:grid-cols-4 gap-x-10"
		style="user-select: none"
	>
		<div class="flex flex-col p-5 box process-card">
			<div class="flex items-center mb-10 gap-x-3">
				<div class="self-center w-8 h-8 rounded-full process-card-circle"></div>

				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
			</div>
			<h1 class="mb-3 text-xl font-bold">Direct Phone Call</h1>
			<p>
				Call Us on +880 1784 286885 <br /><br />

				We are available 24/7 hours.
			</p>
		</div>
		<div class="flex flex-col p-5 box process-card">
			<div class="flex items-center mb-10 h-fit gap-x-3">
				<div class="self-center w-8 h-8 rounded-full process-card-circle"></div>

				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
			</div>
			<h1 class="mb-3 text-xl font-bold">Text on Whatsapp</h1>
			<p>
				You can knock us on Whatsapp. <br />
				<br />
				Our Whatsapp Number: +880 1784 286885
			</p>
		</div>
		<div class="flex flex-col p-5 box process-card">
			<div class="flex items-center mb-10 h-fit gap-x-3">
				<div class="self-center w-8 h-8 rounded-full process-card-circle"></div>

				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
			</div>
			<h1 class="mb-3 text-xl font-bold">Email us now</h1>
			<p>
				You can email us any time. <br />
				<br />
				Email Address: contact@code-studio4.com
			</p>
		</div>
		<div class="flex flex-col p-5 box process-card">
			<div class="flex items-center mb-10 h-fit gap-x-3">
				<div class="self-center w-8 h-8 rounded-full process-card-circle"></div>

				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
				<div class="w-1 h-1 rounded-full bg-primary process-card-circle"></div>
			</div>
			<h1 class="mb-3 text-xl font-bold">Contact Us Button</h1>
			<p>
				Click "Contact Us" Button of the website <br />
				<br />
				Fill up the form and submit.
			</p>
		</div>
	</div>
</div>

<!-- User Compliments -->
<div class="container flex flex-col p-10 mx-auto mb-24 xl:gap-y-14">
	<div class="flex flex-col items-center text-center gap-y-5">
		<h1 class="text-3xl font-bold">What our well-wishers say</h1>
		<p>
			Some IT professionals & our respected clients give testimonial about us.
		</p>
	</div>
	<div class="grid xl:grid-cols-3 gap-x-10 gap-y-10">
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-10 user hover:shadow-lg"
		>
			<p class="text-justify border-s-4 border-primary ps-5 user-testimony">
				As a development software company, CodeStudio has grown a lot in a very
				short time. The most positive aspect is that they are very understanding
				and hardworking. Time management is also very good. This company is
				trustworthy in completing any urgent project in a timely manner.
			</p>
			<div class="flex items-center gap-x-5">
				<div class="avatar">
					<div class="w-24 rounded-full">
						<img src="./img/oyshi.png" />
					</div>
				</div>
				<div class="flex flex-col">
					<h1 class="text-xl font-bold text-primary user-name">Oishi Jyoti</h1>
					<p class="text-secondary">Lecturer, RUET</p>
				</div>
			</div>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-10 user hover:shadow-lg"
		>
			<p class="text-justify border-s-4 border-primary ps-5 user-testimony">
				As a development software company, Code Studio has grown a lot in a very
				short time. The most positive aspect is that they are very understanding
				and hardworking. Time management is also very good. This company is
				trustworthy in completing any urgent project in a timely manner.
			</p>
			<div class="flex items-center gap-x-5">
				<div class="avatar">
					<div class="w-24 rounded-full">
						<img src="./img/user.png" />
					</div>
				</div>
				<div class="flex flex-col">
					<h1 class="text-xl font-bold text-primary user-name">Chester Fell</h1>
					<p class="uppercase text-secondary">Customer</p>
				</div>
			</div>
		</div>
		<div
			class="flex flex-col p-10 border rounded-lg gap-y-10 user hover:shadow-lg"
		>
			<p class="text-justify border-s-4 border-primary ps-5 user-testimony">
				As a development software company, CodeStudio has grown a lot in a very
				short time. The most positive aspect is that they are very understanding
				and hardworking. Time management is also very good. This company is
				trustworthy in completing any urgent project in a timely manner.
			</p>
			<div class="flex items-center gap-x-5">
				<div class="avatar">
					<div class="w-24 rounded-full">
						<img src="./img/user.png" />
					</div>
				</div>
				<div class="flex flex-col">
					<h1 class="text-xl font-bold text-primary user-name">Chester Fell</h1>
					<p class="uppercase text-secondary">Customer</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Technology Stack -->
<div class="border shadow-md">
	<div
		class="container flex flex-col items-center py-10 mx-auto gap-y-10 xl:flex-row"
	>
		<div class="flex flex-col mr-10 text-black">
			<h1 class="text-3xl font-bold">Technology</h1>
			<p>We use</p>
		</div>
		<div
			class="grid justify-between flex-grow grid-cols-2 gap-10 xl:grid-cols-6 xl:flex-row"
			style="overflow: hidden"
		>
			<img src="./img/nodejs.png" />
			<img src="./img/flutter.png" />
			<img src="./img/figma.png" />
			<img src="./img/mysql.png" />
			<img src="./img/postman.png" />
			<img src="./img/nodejs.png" />
		</div>
	</div>
</div>

<!-- Footer hero section -->
<div class="bg-primary">
	<div class="container py-10 mx-auto text-white">
		<div class="flex flex-col items-center">
			<div class="self-center p-10 mb-20 text-2xl xl:w-1/3 xl:p-0">
				<h1 class="font-bold text-center">Statistics of our endless Journey</h1>
			</div>
			<div
				class="flex flex-col justify-around mb-20 gap-y-10 xl:flex-row gap-x-40"
			>
				<div class="flex flex-col items-center justify-center">
					<h1 class="font-bold text-7xl">5</h1>
					<p>years of work experiences</p>
				</div>
				<div class="flex flex-col items-center justify-center">
					<h1 class="font-bold text-7xl">90+</h1>
					<p>Completed Projects</p>
				</div>
				<div class="flex flex-col items-center justify-center">
					<h1 class="font-bold text-7xl">15+</h1>
					<p>Running Projects</p>
				</div>
				<div class="flex flex-col items-center justify-center">
					<h1 class="font-bold text-7xl">98.5%</h1>
					<p>Success rate</p>
				</div>
			</div>
			<div class="flex flex-col items-start gap-y-4 xl:flex-row gap-x-20">
				<p class="flex justify-center gap-x-3">
					<i class="bi bi-check-circle-fill"></i>
					Moneyback Guarantee
				</p>
				<p class="flex justify-center gap-x-3">
					<i class="bi bi-check-circle-fill"></i>
					24/7 Support
				</p>
				<p class="flex justify-center gap-x-3">
					<i class="bi bi-check-circle-fill"></i>
					Client Satisfaction
				</p>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer') -%>
