<%- include('partials/header') -%>
  <!-- Banner Section -->
  <div class="flex items-center justify-center h-48 bg-primary">
    <h1 class="text-4xl font-bold text-white">Template 3</h1>
  </div>

  <div class="p-5 xl:p-0">
    <!-- Hero image -->
    <div class="container flex justify-center p-2 mx-auto mt-10 border xl:p-10">
      <img src="./img/portfolioDetailsHeroImg.png" class="w-fit" />
    </div>

    <!-- Overview Section -->
    <div class="container flex flex-col p-5 mx-auto text-center xl:mt-24 xl:p-0 xl:w-1/2 gap-y-10">
      <h3 class="text-3xl font-bold">Overview</h3>
      <div class="flex flex-col text-justify gap-y-5 xl:text-left">
        <p>
          Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
          adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
          rhoncus quis ultricies. Elementum ut est amet et sodales dolor nulla
          aliquam viverra. Nisl tempor etiam sem ut neque id. In sem elit
          lacinia odio pellentesque lectus. Imperdiet sed morbi massa egestas.
          Placerat at sed auctor praesent sapien sapien. Faucibus quis
          imperdiet lectus sed pellentesque porttitor. Vitae eu felis
          porttitor nibh sit odio sed. Sed et ut tortor id varius orci amet
          massa. Faucibus nibh est suscipit ut amet habitant mauris tortor
          quis. Amet turpis nisi lobortis eget ornare volutpat imperdiet
          praesent fringilla. Eget egestas praesent pellentesque ipsum odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
          adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
          rhoncus quis ultricies. Elementum ut est amet et sodales dolor nulla
          aliquam viverra. Nisl tempor etiam sem ut neque id. In sem elit
          lacinia odio pellentesque lectus. Imperdiet sed morbi massa egestas.
          Placerat at sed auctor praesent sapien sapien. Faucibus quis
          imperdiet lectus sed pellentesque porttitor. Vitae eu felis
          porttitor nibh sit odio sed. Sed et ut tortor id varius orci amet
          massa. Faucibus nibh est suscipit ut amet habitant mauris tortor
          quis. Amet turpis nisi lobortis eget ornare volutpat imperdiet
          praesent fringilla. Eget egestas praesent pellentesque ipsum odio.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
          adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
          rhoncus quis ultricies. Elementum ut est amet et sodales dolor nulla
          aliquam viverra. Nisl tempor etiam sem ut neque id. In sem elit
          lacinia odio pellentesque lectus. Imperdiet sed morbi massa egestas.
          Placerat at sed auctor praesent sapien sapien. Faucibus quis
          imperdiet lectus sed pellentesque porttitor. Vitae eu felis
          porttitor nibh sit odio sed. Sed et ut tortor id varius orci amet
          massa. Faucibus nibh est suscipit ut amet habitant mauris tortor
          quis. Amet turpis nisi lobortis eget ornare volutpat imperdiet
          praesent fringilla. Eget egestas praesent pellentesque ipsum odio.
        </p>
      </div>
    </div>
  </div>
  <!-- Video Section -->
  <div class="bg-[#F8F8F8]">
    <div class="container flex flex-col px-5 py-20 mx-auto mt-24 text-black gap-y-10 xl:flex-row xl:px-0 gap-x-20">
      <div class="flex flex-col xl:w-1/2 gap-y-16">
        <div class="flex flex-col gap-y-3">
          <h2 class="text-3xl font-bold text-center capitalize xl:text-left">
            we build both ios & android mobile application development
          </h2>
          <p class="text-center xl:text-left">
            Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus
            enim adipiscing consectetur leo morbi nibh.
          </p>
        </div>
        <ul class="flex flex-col font-bold gap-y-4">
          <li class="flex gap-x-5 text-slate-600">
            <i class="bi bi-check-square-fill"></i>
            <p>Technology dedicated to our customers’ need</p>
          </li>
          <li class="flex gap-x-5 text-slate-600">
            <i class="bi bi-check-square-fill"></i>
            <p>Technology dedicated to our customers’ need</p>
          </li>
          <li class="flex gap-x-5 text-slate-600">
            <i class="bi bi-check-square-fill"></i>
            <p>Technology dedicated to our customers’ need</p>
          </li>
          <li class="flex gap-x-5 text-slate-600">
            <i class="bi bi-check-square-fill"></i>
            <p>Technology dedicated to our customers’ need</p>
          </li>
          <li class="flex gap-x-5 text-slate-600">
            <i class="bi bi-check-square-fill"></i>
            <p>Technology dedicated to our customers’ need</p>
          </li>
          <li class="flex gap-x-5 text-slate-600">
            <i class="bi bi-check-square-fill"></i>
            <p>Technology dedicated to our customers’ need</p>
          </li>
        </ul>
      </div>
      <div class="xl:w-1/2">
        <iframe src="https://www.youtube.com/embed/aB8Wa_SkX1M" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen class="w-full h-96"></iframe>
      </div>
    </div>
  </div>

  <!-- Visit Live site button -->
  <div class="container flex justify-center mx-auto mt-20">
    <a href="" class="text-2xl underline">Visit live site
      <i class="bi bi-arrow-right"></i>
    </a>
  </div>
  <%- include('partials/footer') -%>