<%- include('partials/header') -%>
  <!-- Banner Section -->
  <div class="flex items-center justify-center h-48 bg-primary">
    <h1 class="text-4xl font-bold text-white">Portfolio</h1>
  </div>

  <!-- How we work section -->
  <div class="container flex flex-col items-center p-5 mx-auto mt-28 gap-y-20 xl:p-0">
    <div class="flex flex-col items-center text-center xl:w-1/2 gap-y-3">
      <h3 class="text-3xl font-bold">How We Work</h3>
      <p class="">
        Code Studio is one of the best software companies in the world that
        builds Mobile and Web Applications to grow business successfully.
      </p>
    </div>
    <div class="grid xl:grid-cols-4 gap-x-7 gap-y-10">
      <div class="flex flex-col p-5 border rounded-lg gap-y-4 xl:p-0 xl:rounded-0 xl:border-0">
        <img src="./img/01.png" alt="" class="w-fit" />
        <h3 class="text-2xl font-bold">Strategy</h3>
        <p>
          Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam
          .
        </p>
      </div>
      <div class="flex flex-col p-5 border rounded-lg gap-y-4 xl:p-0 xl:rounded-0 xl:border-0">
        <img src="./img/02.png" alt="" class="w-fit" />
        <h3 class="text-2xl font-bold">Wireframing</h3>
        <p>
          Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam
          .
        </p>
      </div>
      <div class="flex flex-col p-5 border rounded-lg gap-y-4 xl:p-0 xl:rounded-0 xl:border-0">
        <img src="./img/03.png" alt="" class="w-fit" />
        <h3 class="text-2xl font-bold">Design</h3>
        <p>
          Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam
          .
        </p>
      </div>
      <div class="flex flex-col p-5 border rounded-lg gap-y-4 xl:p-0 xl:rounded-0 xl:border-0">
        <img src="./img/04.png" alt="" class="w-fit" />
        <h3 class="text-2xl font-bold">Development</h3>
        <p>
          Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam
          .
        </p>
      </div>
    </div>
  </div>

  <!-- Work portfolio section -->
  <div class="container flex flex-col items-center p-5 mx-auto mt-36 gap-y-20 xl:p-0">
    <div class="flex flex-col items-center text-center xl:w-1/2 gap-y-5">
      <h3 class="text-3xl font-bold">Our work portfolio</h3>
      <p>
        Code Studio is one of the best software companies in the world that
        builds Mobile and Web Applications to grow business successfully.
      </p>
    </div>
    <div class="grid xl:grid-cols-2 gap-x-14 gap-y-28">
      <div class="flex flex-col items-center border rounded-lg gap-y-5"
        style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)">
        <div class="p-5">
          <img src="./img/portfolio-image.png" alt="" />
        </div>
        <div class="flex flex-col justify-between w-full p-3 px-5 text-center border xl:flex-row gap-y-5 xl:text-left">
          <p class="text-2xl font-bold text-primary">Template 1</p>
          <p class="text-2xl font-bold text-accent">Website Development</p>
        </div>
        <div class="flex flex-col">
          <p class="p-5 py-1 text-justify">
            Lorem ipsum dolor sit amet consectetur. Praesent enim ut sit
            scelerisque tortor. Mi fusce magna diam tristique euismod aliquet
            id sit molestie. Fringilla id cursus nisl ipsum orci auctor
            cursus. Adipiscing donec ut risus ac amet id donec tortor. Iaculis
            velit feugiat porttitor sed. Non maecenas tristique scelerisque
            molestie donec integer. In amet nunc sit sed vivamus. Dolor.
          </p>
          <a href="/portfolio-details"
            class="flex items-center self-end p-5 py-4 font-bold cursor-pointer text-primary gap-x-3">View Portfolio
            <i class="text-2xl bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="flex flex-col items-center border rounded-lg gap-y-5"
        style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)">
        <div class="p-5">
          <img src="./img/portfolio-image.png" alt="" />
        </div>
        <div class="flex flex-col justify-between w-full p-3 px-5 text-center border xl:flex-row gap-y-5 xl:text-left">
          <p class="text-2xl font-bold text-primary">Template 2</p>
          <p class="text-2xl font-bold text-accent">UI/UX Design</p>
        </div>
        <div class="flex flex-col">
          <p class="p-5 py-1 text-justify">
            Lorem ipsum dolor sit amet consectetur. Praesent enim ut sit
            scelerisque tortor. Mi fusce magna diam tristique euismod aliquet
            id sit molestie. Fringilla id cursus nisl ipsum orci auctor
            cursus. Adipiscing donec ut risus ac amet id donec tortor. Iaculis
            velit feugiat porttitor sed. Non maecenas tristique scelerisque
            molestie donec integer. In amet nunc sit sed vivamus. Dolor.
          </p>
          <a href="/portfolio-details"
            class="flex items-center self-end p-5 py-4 font-bold cursor-pointer text-primary gap-x-3">View Portfolio
            <i class="text-2xl bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="flex flex-col items-center border rounded-lg gap-y-5"
        style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)">
        <div class="p-5">
          <img src="./img/portfolio-image.png" alt="" />
        </div>
        <div class="flex flex-col justify-between w-full p-3 px-5 text-center border xl:flex-row gap-y-5 xl:text-left">
          <p class="text-2xl font-bold text-primary">Template 3</p>
          <p class="text-2xl font-bold text-accent">
            Application Development
          </p>
        </div>
        <div class="flex flex-col">
          <p class="p-5 py-1 text-justify">
            Lorem ipsum dolor sit amet consectetur. Praesent enim ut sit
            scelerisque tortor. Mi fusce magna diam tristique euismod aliquet
            id sit molestie. Fringilla id cursus nisl ipsum orci auctor
            cursus. Adipiscing donec ut risus ac amet id donec tortor. Iaculis
            velit feugiat porttitor sed. Non maecenas tristique scelerisque
            molestie donec integer. In amet nunc sit sed vivamus. Dolor.
          </p>
          <a href="/portfolio-details"
            class="flex items-center self-end p-5 py-4 font-bold cursor-pointer text-primary gap-x-3">View Portfolio
            <i class="text-2xl bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="flex flex-col items-center border rounded-lg gap-y-5"
        style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)">
        <div class="p-5">
          <img src="./img/portfolio-image.png" alt="" />
        </div>
        <div class="flex flex-col justify-between w-full p-3 px-5 text-center border xl:flex-row gap-y-5 xl:text-left">
          <p class="text-2xl font-bold text-primary">Template 4</p>
          <p class="text-2xl font-bold text-accent">Website Development</p>
        </div>
        <div class="flex flex-col">
          <p class="p-5 py-1 text-justify">
            Lorem ipsum dolor sit amet consectetur. Praesent enim ut sit
            scelerisque tortor. Mi fusce magna diam tristique euismod aliquet
            id sit molestie. Fringilla id cursus nisl ipsum orci auctor
            cursus. Adipiscing donec ut risus ac amet id donec tortor. Iaculis
            velit feugiat porttitor sed. Non maecenas tristique scelerisque
            molestie donec integer. In amet nunc sit sed vivamus. Dolor.
          </p>
          <a href="/portfolio-details"
            class="flex items-center self-end p-5 py-4 font-bold cursor-pointer text-primary gap-x-3">View Portfolio
            <i class="text-2xl bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Call us now section -->
  <div class="w-full mt-40 text-white bg-primary">
    <div
      class="container flex flex-col items-center justify-between p-5 mx-auto text-center xl:flex-row xl:text-left gap-y-10 xl:p-0">
      <h3 class="text-5xl font-bold xl:w-1/2">
        Let's build something great together
      </h3>
      <div class="flex flex-col items-center text-4xl font-bold xl:w-1/2 py-7">
        <i class="text-5xl bi bi-telephone-fill"></i>
        <p>Reach out now</p>
        <p>+8801784286885</p>
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>