<%- include('partials/header') -%>
<!-- Banner Section -->
<div class="flex items-center justify-center h-48 bg-primary">
	<h1 class="text-4xl font-bold text-white">Our Team</h1>
</div>

<!-- Inventor dialog section -->
<div
	class="container flex flex-col p-5 mx-auto gap-x-20 lg:flex-row mt-28 xl:p-0 gap-y-20"
>
	<div class="flex justify-center lg:w-[30%]">
		<div class="relative flex flex-col items-center gap-y-3">
			<img src="./img/founder.png" class="h-fit" />
			<h3 class="text-2xl font-bold text-center text-neutral">
				The Best Holidays
			</h3>
			<div class="relative w-full py-4 text-center rounded-b-lg bg-neutral">
				<span
					class="absolute top-[-10%] w-full h-3 translate-x-1/2 bg-white rounded-lg right-1/2 border-primary"
					style="width: 100%"
				></span>
				<p class="text-white">Founder</p>
			</div>
			<div class="flex text-3xl gap-x-3">
				<a href="">
					<i class="bi bi-facebook text-neutral"></i>
				</a>
				<a href="">
					<i class="bi bi-linkedin text-neutral"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="relative flex flex-col lg:w-1/2 gap-y-10">
		<div class="flex flex-col">
			<h3 class="text-3xl font-bold">Inventor Dialog</h3>
			<p class="font-thin text-slate-500">Founder Code Studio</p>
		</div>
		<p class="text-slate-500">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			Lorem Ipsum has been the industry'sLorem Ipsum is simply dummy text of the
			printing and typesetting industry. Lorem Ipsum has been the
			industry'sLorem Ipsum is simply dummy text of the printing and typesetting
			industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy
			text of the printing and typesetting industry. Lorem Ipsum has been the
			industry'sLorem Ipsum is simply dummy text of the printing and typesetting
			industry. Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy
			text of the printing and typesetting industry. Lorem Ipsum has been the
			industry's
		</p>
		<span class="absolute top-[-5%] right-0"
			><i class="text-9xl text-slate-400 bi bi-quote"></i
		></span>
	</div>
</div>

<!-- Advisor Section -->
<!-- <div class="flex flex-col items-center mt-28 gap-y-20">
	<div class="container flex justify-center p-5 mx-auto xl:p-0">
		<div class="flex flex-col items-center text-center xl:w-1/2 gap-y-5">
			<h2 class="text-3xl font-bold">Our Advisor</h2>
			<p cl>
				Code Studio is one of the best software companies in the world that
				builds Mobile and Web Applications to grow business successfully.
			</p>
		</div>
	</div>
	<div
		class="relative w-full border"
		style="background: url('./img/advisorBg.png'), #185abc"
	>
		<div class="container p-5 mx-auto xl:p-0">
			<div
				class="grid w-full grid-cols-1 py-20 lg:grid-cols-3 gap-y-20 gap-x-36"
			>
				<div class="flex flex-col px-5 pb-10 rounded-lg bg-base-100">
					<img
						src="./img/advisor1.png"
						class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
					/>
					<div class="flex justify-between pe-5">
						<div class="flex flex-col gap-y-3">
							<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
							<p class="text-neutral">Code Studio</p>
						</div>
						<div class="flex self-end gap-x-4">
							<a href="">
								<i class="text-3xl bi bi-linkedin text-primary"></i>
							</a>
							<a href="">
								<i class="text-3xl bi bi-facebook text-primary"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="flex flex-col px-5 pb-10 rounded-lg bg-base-100">
					<img
						src="./img/advisor2.png"
						class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
					/>
					<div class="flex justify-between pe-5">
						<div class="flex flex-col gap-y-3">
							<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
							<p class="text-neutral">Code Studio</p>
						</div>
						<div class="flex self-end gap-x-4">
							<a href="">
								<i class="text-3xl bi bi-linkedin text-primary"></i>
							</a>
							<a href="">
								<i class="text-3xl bi bi-facebook text-primary"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="flex flex-col px-5 pb-10 rounded-lg bg-base-100">
					<img
						src="./img/advisor3.png"
						class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
					/>
					<div class="flex justify-between pe-5">
						<div class="flex flex-col gap-y-3">
							<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
							<p class="text-neutral">Code Studio</p>
						</div>
						<div class="flex self-end gap-x-4">
							<a href="">
								<i class="text-3xl bi bi-linkedin text-primary"></i>
							</a>
							<a href="">
								<i class="text-3xl bi bi-facebook text-primary"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- Our team Section -->
<div class="container flex flex-col items-center mx-auto mt-28 gap-y-24">
	<div
		class="flex flex-col items-center p-5 text-center xl:w-1/2 gap-y-3 xl:p-0"
	>
		<h3 class="text-3xl font-bold">Our Teams</h3>
		<p>
			Code Studio is one of the best software companies in the world that builds
			Mobile and Web Applications to grow business successfully.
		</p>
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-x-20 gap-y-24">
		<div class="flex flex-col px-5 pb-10 border rounded-lg bg-base-100">
			<img
				src="./img/teamMember1.png"
				class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
			/>
			<div class="flex justify-between pe-5">
				<div class="flex flex-col gap-y-3">
					<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
					<p class="text-neutral">Code Studio</p>
				</div>
				<div class="flex self-end gap-x-4">
					<a href="">
						<i class="text-3xl bi bi-linkedin text-primary"></i>
					</a>
					<a href="">
						<i class="text-3xl bi bi-facebook text-primary"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="flex flex-col px-5 pb-10 border rounded-lg bg-base-100">
			<img
				src="./img/teamMember2.png"
				class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
			/>
			<div class="flex justify-between pe-5">
				<div class="flex flex-col gap-y-3">
					<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
					<p class="text-neutral">Code Studio</p>
				</div>
				<div class="flex self-end gap-x-4">
					<a href="">
						<i class="text-3xl bi bi-linkedin text-primary"></i>
					</a>
					<a href="">
						<i class="text-3xl bi bi-facebook text-primary"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="flex flex-col px-5 pb-10 border rounded-lg bg-base-100">
			<img
				src="./img/teamMember3.png"
				class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
			/>
			<div class="flex justify-between pe-5">
				<div class="flex flex-col gap-y-3">
					<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
					<p class="text-neutral">Code Studio</p>
				</div>
				<div class="flex self-end gap-x-4">
					<a href="">
						<i class="text-3xl bi bi-linkedin text-primary"></i>
					</a>
					<a href="">
						<i class="text-3xl bi bi-facebook text-primary"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="flex flex-col px-5 pb-10 border rounded-lg bg-base-100">
			<img
				src="./img/teamMember4.png"
				class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
			/>
			<div class="flex justify-between pe-5">
				<div class="flex flex-col gap-y-3">
					<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
					<p class="text-neutral">Code Studio</p>
				</div>
				<div class="flex self-end gap-x-4">
					<a href="">
						<i class="text-3xl bi bi-linkedin text-primary"></i>
					</a>
					<a href="">
						<i class="text-3xl bi bi-facebook text-primary"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="flex flex-col px-5 pb-10 border rounded-lg bg-base-100">
			<img
				src="./img/teamMember5.png"
				class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
			/>
			<div class="flex justify-between pe-5">
				<div class="flex flex-col gap-y-3">
					<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
					<p class="text-neutral">Code Studio</p>
				</div>
				<div class="flex self-end gap-x-4">
					<a href="">
						<i class="text-3xl bi bi-linkedin text-primary"></i>
					</a>
					<a href="">
						<i class="text-3xl bi bi-facebook text-primary"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="flex flex-col px-5 pb-10 border rounded-lg bg-base-100">
			<img
				src="./img/teamMember6.png"
				class="object-contain xl:translate-x-[-5.5%] translate-y-[-10%]"
			/>
			<div class="flex justify-between pe-5">
				<div class="flex flex-col gap-y-3">
					<h3 class="text-2xl font-extrabold">The Best Holidays</h3>
					<p class="text-neutral">Code Studio</p>
				</div>
				<div class="flex self-end gap-x-4">
					<a href="">
						<i class="text-3xl bi bi-linkedin text-primary"></i>
					</a>
					<a href="">
						<i class="text-3xl bi bi-facebook text-primary"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer') -%>
