<%- include('partials/header') -%>
<!-- Banner Section -->
<div class="flex items-center justify-center h-48 bg-primary">
	<h1 class="text-4xl font-bold text-white">Ventures</h1>
</div>

<!-- Hero section -->
<div
	class="container grid items-center justify-between p-5 mx-auto gap-x-28 lg:grid-cols-2 mt-28 gap-y-10 xl:p-0"
>
	<div class="flex justify-center">
		<img src="./img/ventures-hero-img.png" class="h-fit w-fit" />
	</div>
	<div class="relative flex flex-col gap-y-10">
		<div class="flex flex-col">
			<h3 class="text-3xl font-bold text-center xl:text-left">
				Lorem Ipsum is simply dummy text of the printing.
			</h3>
		</div>
		<div class="flex flex-col text-slate-500 gap-y-4">
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's
			</p>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's
			</p>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's
			</p>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's
			</p>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's
			</p>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's
			</p>
		</div>
	</div>
</div>

<!-- Ventures section -->
<div
	class="container flex flex-col items-center p-5 mx-auto mt-28 gap-y-20 xl:p-0"
>
	<div class="flex flex-col items-center text-center xl:w-1/2 gap-y-3">
		<h3 class="text-3xl font-bold">Ventures</h3>
		<p>
			Code Studio is one of the best software companies in the world that builds
			Mobile and Web Applications to grow business successfully.
		</p>
	</div>
	<div class="grid xl:grid-cols-2 gap-x-16 gap-y-16">
		<div
			class="flex flex-col items-center p-5 xl:flex-row gap-y-10 gap-x-16 box"
		>
			<img
				src="./img/google.png"
				class="shadow-[0_4px_4px_rgba(0,0,0,0.03)] rounded-lg"
			/>
			<div class="flex flex-col xl:w-1/2 gap-y-4">
				<h3 class="text-4xl font-bold">Our Work Portfolio</h3>
				<p class="text-lg font-medium">
					Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
					adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
				</p>
			</div>
		</div>
		<div
			class="flex flex-col items-center p-5 xl:flex-row gap-y-10 gap-x-16 box"
		>
			<img
				src="./img/slack.png"
				class="shadow-[0_4px_4px_rgba(0,0,0,0.03)] rounded-lg"
			/>
			<div class="flex flex-col xl:w-1/2 gap-y-4">
				<h3 class="text-4xl font-bold">Our Work Portfolio</h3>
				<p class="text-lg font-medium">
					Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
					adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
				</p>
			</div>
		</div>
		<div
			class="flex flex-col items-center p-5 xl:flex-row gap-y-10 box gap-x-16"
		>
			<img
				src="./img/microsoft.png"
				class="shadow-[0_4px_4px_rgba(0,0,0,0.03)] rounded-lg"
			/>
			<div class="flex flex-col xl:w-1/2 gap-y-4">
				<h3 class="text-4xl font-bold">Our Work Portfolio</h3>
				<p class="text-lg font-medium">
					Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
					adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
				</p>
			</div>
		</div>
		<div
			class="flex flex-col items-center p-5 xl:flex-row gap-y-10 gap-x-16 box"
		>
			<img
				src="./img/apple.png"
				class="shadow-[0_4px_4px_rgba(0,0,0,0.03)] rounded-lg"
			/>
			<div class="flex flex-col xl:w-1/2 gap-y-4">
				<h3 class="text-4xl font-bold">Our Work Portfolio</h3>
				<p class="text-lg font-medium">
					Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
					adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
				</p>
			</div>
		</div>
		<div
			class="flex flex-col items-center p-5 xl:flex-row gap-y-10 gap-x-16 box"
		>
			<img
				src="./img/paypal.png"
				class="shadow-[0_4px_4px_rgba(0,0,0,0.03)] rounded-lg"
			/>
			<div class="flex flex-col xl:w-1/2 gap-y-4">
				<h3 class="text-4xl font-bold">Our Work Portfolio</h3>
				<p class="text-lg font-medium">
					Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
					adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
				</p>
			</div>
		</div>
		<div
			class="flex flex-col items-center p-5 xl:flex-row gap-y-10 gap-x-16 box"
		>
			<img
				src="./img/bigid.png"
				class="shadow-[0_4px_4px_rgba(0,0,0,0.03)] rounded-lg"
			/>
			<div class="flex flex-col xl:w-1/2 gap-y-4">
				<h3 class="text-4xl font-bold">Our Work Portfolio</h3>
				<p class="text-lg font-medium">
					Lorem ipsum dolor sit amet consectetur. Pellentesque dolor mus enim
					adipiscing consectetur leo morbi nibh. Phasellus mauris mauris nunc
				</p>
			</div>
		</div>
	</div>
</div>

<!-- The benefits section -->
<div
	class="container flex flex-col items-center p-5 mx-auto mt-28 gap-y-20 xl:p-0"
>
	<div class="flex flex-col items-center text-center xl:w-1/2 gap-y-3">
		<h3 class="text-3xl font-bold">The benefits</h3>
		<p class="">
			Code Studio is one of the best software companies in the world that builds
			Mobile and Web Applications to grow business successfully.
		</p>
	</div>
	<div class="grid justify-between w-full xl:grid-cols-4 gap-y-10 gap-x-10">
		<div class="flex flex-col p-10 hover:text-accent gap-y-5 text-primary box">
			<i class="text-4xl bi bi-file-earmark-text-fill"></i>
			<div class="flex flex-col text-black gap-y-5">
				<h3 class="text-2xl font-bold">Customise with ease</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
				</p>
			</div>
		</div>
		<div class="flex flex-col p-10 hover:text-accent box gap-y-5 text-primary">
			<i class="text-4xl bi bi-rulers"></i>
			<div class="flex flex-col text-black gap-y-5">
				<h3 class="text-2xl font-bold">Perfectly responsive</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
				</p>
			</div>
		</div>
		<div class="flex flex-col p-10 hover:text-accent gap-y-5 text-primary box">
			<i class="text-4xl bi bi-people-fill"></i>
			<div class="flex flex-col text-black gap-y-5">
				<h3 class="text-2xl font-bold">Friendly Support</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
				</p>
			</div>
		</div>
		<div class="flex flex-col p-10 hover:text-accent gap-y-5 text-primary box">
			<i class="text-4xl bi bi-rulers"></i>
			<div class="flex flex-col text-black gap-y-5">
				<h3 class="text-2xl font-bold">Perfectly responsive</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
				</p>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer') -%>
